@model WebAPI.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productId = ViewBag.ProductId;
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.ProductId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CateId)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.CateId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.CheckBoxFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = productId }) |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(function () {
        $("input").prop("disabled", "disabled");
        $.ajax({
            type: "GET",
            url: "http://localhost:49595/api/Products/" + @productId,
            success: function (data) {
                $("#ProductId").val(data.productId);
                $("#CateId").val(data.cateId);
                $("#Name").val(data.name);
                $("#Price").val(data.price);
                $("#Image").val(data.image);
                $("#Description").val(data.description);
                $("#Discount").val(data.discount);
                $("#Quantity").val(data.quantity);
                $("#Status").prop("checked", data.status);
            },
            error: function(a, b, c) {
                console.log(a);
                console.log(b);
                console.log(c);
            }
        });
    });
</script>
